<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Coffee Capsule Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Coffee Capsule Management System</h1>
    <hr>
    <h2>Update Coffee Capsule list</h2>

    <form action="#" th:action="@{/saveCoffee}" th:object="${coffee}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{markName}" placeholder="Mark Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{sortID}" placeholder="Sort type" class="form-control mb-4 col-4">

        <input type="text" th:field="*{sizeID}" placeholder="Size type" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Coffee</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Coffee Capsule List</a>
</div>
</body>

</html>